#token {
  height: 50px;
  width: 50px;
  position: relative;
  display: inline-block;
  top:550px;
}

#container {
  height: 600px;
  width: 700px;
  top: 0;
  left: 0;
  border: 1px black solid;
  margin: 0;
  padding: 0;
  background: rgba(250, 250, 250, 0.5);
}

.asteroid {
  height: 50px;
  width: 50px;
  top: 0px;
  right: 50px;
  position: relative;
}

