#ship {
  height: 50px;
  width: 50px;
  position: absolute;
  display: inline-block;
  top: 550px;
}

#mainContainer {
  width: 1420px;
  position: absolute;
}

#container {
  height: 600px;
  width: 700px;
  top: 0;
  left: 0;
  border: 1px black solid;
  margin: 0;
  padding: 0;
  background: rgba(250, 250, 250, 0.5);
}

.asteroid {
 height: 50px;
 width: 50px;
 top: 0px;
 position: absolute;
}

#score {
  text-align: center;
  background-color: black;
  color: white;
  font-weight: bold;
  font-family: helvetica, sans-serif;
  width: 702px;
}

.hide{
  display: none;
}

#mocha .suite {
  width: 641px;
  float: right;
  bottom: 620px;
  position: relative;
}

#mocha-stats {
  float: right;
  position: absolute;
}

#mocha h1 {
  color: #5866AD;
  text-align: center;
}

#mocha h2:hover {
  text-decoration: underline;
}

#mocha .error {
  background-color: rgba(204, 0, 0, 0.1);
  z-index: 1;
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
  -webkit-animation-duration: .75s;
  animation-duration: .75s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

#mocha pre {
  background-color: rgba(88, 144, 173, 0.15);
  z-index: 0;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}


.rotateE {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.rotateS {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.rotateW {
 -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}










